.header{
    height: 750px;  
    background-image: url('https://schotest.com/assets/images/website/schotest_pattern.svg') ;   
}
.cont{
    margin-top: 250px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #fdc800;
    font-weight: bold;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.9);
    font-size: 1.7rem;
    opacity: 1.0;
}
.cont-2{
    text-align: center;
}
.logo-circle{
    height: 70px;
    width: 70px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    top: 15px;
}
input{
    line-height: 1.5;
    position: relative;
    top: 5px;

}
.search-btn{
    background-color: #fdc800; 
    line-height: 1.5;   
    position: relative;
    top: 5px;
}